<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="userv1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

</head>
<body>
    <div class="container2">
        <header>
            <div class="CON">
                <div id="choice">
                    <h1>FunCocktail<i class="fas fa-tag"></i></h1>
                </div>
            </div>
        </header>

    <input type="checkbox" name="" id="check">
    <div class="container" >
        <label for="check">
            <span class="fas fa-times" id="times"></span>
            <span class="fas fa-bars" id="bars"></span>
        </label>
        <div class="head">MENU</div>
        <ol>
            <li><a href="home.html"><i class="fas fa-home"></i>HOME</a></li>
            <li><a href="about.html"><i class="fas fa-info"></i>About</a></li>
            <li><a href="news.html"><i class="fas fa-newspaper"></i>News</a></li>
            <li><a href="checkout.html"><i class="fas fa-car"></i>CheckOut</a></li>
            <li><a href="design.html"><i class="fas fa-pen"></i>Design</a></li>
            <li><a href="help.html"><i class="fas fa-comment"></i>Help</a></li>
            <li><a href="useraccountv1.html"><i class="fas fa-user"></i>User</a></li>
        </ol>
        </div>
    </div>


    <div class="container4">
    <div class="container1">
        <div class="form signup">
            <h2>Sign Up</h2>
            <div class="inputbox">
                <input type="text" required="required">
                <i class="fa-sharp fa-regular fa-user"></i>
                <span>user name</span>
            </div>
            <div class="inputbox">
                <input type="text" required="required">
                <i class="fa-sharp fa-regular fa-envelope"></i>
                <span>email address</span>
            </div>
            <div class="inputbox">
                <input type="text" required="required">
                <i class="fa-solid fa-lock"></i>
                <span> create password</span>
            </div>
            <div class="inputbox">
                <input type="text" required="required">
                <i class="fa-solid fa-lock"></i>
                <span>password confirm</span>
            </div>
            <div class="inputbox">
                <input type="submit" value="Cretae Account">
            </div>
            <p>Already a member?<a href="#" class="login">Login</a></p>
        </div>
        
        <div class="form signin">
                <h2>Sign In</h2>
                <div class="inputbox">
                    <input type="text" required="required">
                    <i class="fa-sharp fa-regular fa-user"></i>
                    <span>username</span>
                </div>
                <div class="inputbox">
                    <input type="text" required="required">
                    <i class="fa-solid fa-lock"></i>
                    <span>password</span>
                </div>
                <div class="inputbox">
                    <input type="submit" value="Login">
                </div>
                <p>Don't have an account? <a href="#" class="create">Create an account</a></p>

        </div>
    
    
    </div>


    <script>
        let login = document.querySelector('.login');
        let create = document.querySelector('.create');
        let container1 = document.querySelector('.container1');

        login.onclick = function(){
            container1.classList.add('signinForm');
        }

        create.onclick = function(){
            container1.classList.remove('signinForm');
        }
    </script>
    </div>
    
    
    
</body>
</html>